body{
    background-color: rgb(18, 47, 73);
    color: aliceblue;
}

button{
    border-radius: 10px;
    background-color: rgb(224, 39, 39);
    color: aliceblue;
    font-weight: bold;
    border: none;
    margin: 10px 0px 0px 0px;
    padding: 7px 10px 7px 10px;
    font-size: 15px;
}

button:active{
    background-color: aliceblue;
    color: rgb(224, 39, 39);
}

.fight-area {
    display: flex;
    gap: 20px;
}

#char, #monster {
    flex: 1; /* divide o espaço igualmente na tela */
}

.life-bar {
    height: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.life-bar .bar {
    height: inherit;
    background-color: rgb(199, 170, 41);
    border-radius: 5px;
    /* width: 50%; */
}

.log {
    border: 2px dotted #999;
    height: 200px;
    overflow-y: scroll;
}
